@font-face {
	font-family: "iconfont";
    src:url('../fonts/iconfont.ttf') format('truetype'),
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingxingkong:before { content: "\e663"; }

.icon-star-empty:before { content: "\e6d6"; }

.icon-xingxing:before { content: "\e617"; }

.icon-xingxing1:before { content: "\e646"; }

